div(class="article panel")
    div(class="titre panel-heading")
        h1(ng-bind="article.titre")
    div(class="soustitre panel-heading")
        h4(ng-bind="article.soustitre")
    div(class="contenu panel-body")
        p(ng-bind="article.contenu")