extends layout

block body
    div(class="container")
      div(class="row devOps-header")
        div(class="col-xs-12 col-md-8 devOps-header-logo")
          h2 DevOps in Net
        div(class="col-xs-12 col-md-4 devOps-header-about")
          h4
            small
              b {{title}}
      div(class="row devOps-bread pull-right")
        span
          a(href='#/view1', class="btn btn-default btn-xs")
              span(class="glyphicon glyphicon-search") view1
        span
          a(href='#/blog', class="btn btn-warning btn-xs")
              span(class="glyphicon glyphicon-search") view2
        span
          a(href='#/article/article1', class="btn btn-warning btn-xs")
              span(class="glyphicon glyphicon-search") view2
      div(class="row devOps-content")
        div(ng-view)

    div(class="footer")
        small DevOps Blog: v
          span(app-version)
