html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
}

.devOps-header div {
    height: 45px;
    vertical-align: middle;
}
.devOps-header .devOps-header-logo {
    padding-top: 4px;
    vertical-align: middle;
}

.devOps-header .devOps-header-about {
    vertical-align: middle;
    padding-top: 6px;
}

.devOps-header .devOps-header-about h4 {
    color: #3e8f3e;
}

.devOps-header .devOps-header-logo h2 {
    color: #000000;
}
.devOps-header-logo h1, .h1, h2, .h2, h3, .h3 {
    margin:0 auto;
}

.devOps-content {
    margin-top: 10px;
    margin:0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 1px;
    border-top-color: #000000;
    border: 1px;
}

.footer {
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    text-align: center;
}